
@import url('https://fonts.cdnfonts.com/css/kalam');



 body{
    font-family: 'Kalam', sans-serif;
    font-family: 'Kalam Light', sans-serif;
    font-family: 'Kalam Bold', sans-serif;
    background-color: #fedcb9;
    background-image: url('./imagenes/avatar1.jpg');
    
    background-size: cover;
    background-attachment: fixed;
   
 }
#seleccionar-personaje{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 400px;
    height: auto;
    margin-top: 40px;
}

.titulo{
    font-size: 30px;
    padding-right: 30px;
    margin: 10px;
}
.subtitulo{
    padding-right: 30px;
}

.tarjetas, .tarjetas-ataques{
    display: flex;
    gap: 10px;
}


.tarjeta-de-personaje{
    width: 186px;
    height: 100px;
    background: #eecb9694;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 3px solid rgba(255, 198, 40, 0.562);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
    
    
}

.tarjeta-de-personaje img {
    object-fit: contain;
}
input{
    display: none;
}

input:checked + label{
  background-color:#e472207e;
}



#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque{
   width: 150px;
    height: 50px;  
    background:  #eecb9694;
    border-radius: 40px;
    border: 3px solid rgba(216, 64, 9, 0.682); 
    font-family: 'Kalam bold';
    font-size: 20px;
    margin: 30px 20px 10px 5px;
}

#mensajes{
    width: 280px;
    background: #9bbfe172;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
    line-height: 40px;
}

#boton-reiniciar, #boton-personaje {
    min-width: 200px;
    min-height: 60px;
    font-family: 'Kalam Light', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #9bbfe1;
  background: linear-gradient(90deg, #9bbfe1 0%, #9bbfe1 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px #468dd0;
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    margin-top: 20px;
    }
  
    #boton-personaje::before, #boton-reiniciar::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(200px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #9bbfe1;
    box-shadow: 0 0 60px #468dd0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  #boton-personaje:hover, #boton-reiniciar:hover, #boton-reiniciar:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  #boton-reiniciar:hover::before, #boton-reiniciarton:focus::before {
    opacity: 1;
  }
  
  #boton-reiniciar::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #9bbfe1;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
 #boton-personaje:hover::after, #boton-reiniciar:hover::after, #boton-reiniciar:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

  .ataques{
    display: grid;
    grid-template-columns: 100px 100px;
    text-align: center;
  }

  #vidas-jugador, #vidas-enemigo{
    font-size: 32px;
    margin-bottom: 0;
    color: white;
  }

  .ataques-jugador,.ataques-enemigos{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 360px){
    .tarjetas, .tarjetas-ataques{
      flex-direction: column;
    }
  }